@{
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

<section class="visual">
    <div class="container">
        <div class="text-block">
            <div class="heading-holder">
                <h1 style="color: gold;text-transform:uppercase;">Công ty TNHH DV Thể thao Phạm Kha</h1>
            </div>
            <p class="tagline">A happier & healthier life is waiting for you!</p>
            
        </div>
    </div>
    <img src="~/imgs/img-bg-01.jpg" alt="bg" class="bg-stretch" width="1920" height="800">
</section>
<section class="main">
    <div class="container">       
        <div class="row">
            <div class="text-box col-md-offset-1 col-md-12">
                <Về style="color: gold;text-transform:uppercase;">Về chúng tôi</h2>
                    <p>Sân cầu lông Phạm Kha với 9 sân, có nhà tắm. Mang lại sự tiện lợi cho tất cả lông thủ trong việc lựa chọn sân.</p>
                    <p>Nhận đặt sân ngay để nâng cao sức khỏe của mình.</p>
                </div>
        </div>
    </div>
</section>
<section class="area">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <ul class="visual-list">
                    <li>
                        <div class="img-holder">
                            <img src="~/imgs/muscle.svg" width="110" alt="">
                        </div>
                        <div class="text-holder">
                            <h3>Tăng cường sức mạnh cơ bắp</h3>
                            <p>Đánh cầu lông đòi hỏi sử dụng rất nhiều hệ cơ khác nhau của cơ thể như: Hệ cơ chân(bắp đùi, bắp chân..), Cơ tay(Cơ nhị đầu, và cơ cánh tay, cổ tay) lườn và cổ…. </p>
                            <p>Tập luyện cầu lông đúng cách giúp cho việc tăng sức mạnh cơ bắp toàn cơ thể </p>
                        </div>
                    </li>
                    <li>
                        <div class="img-holder">
                            <img class="pull-left" src="~/imgs/body-balance.svg" width="90" alt="">
                        </div>
                        <div class="text-holder">
                            <h3>Giúp hệ xương khớp vững vàng hơn</h3>
                            <p>Đánh cầu lông giúp ảnh hưởng một cách tích cực tới việc phát triển chiều cao cơ thể, việc bật nhảy di chuyển liên tục sẽ có hệ xương khớp vững vàng hơn, đây là một yếu tố ảnh hưởng tới cả tuổi thọ. </p>
                        </div>
                    </li>
                    <li>
                        <div class="img-holder">
                            <img src="~/imgs/healthy.svg" height="84" alt="">
                        </div>
                        <div class="text-holder">
                            <h3>Rất tốt cho hệ tim mạch</h3>
                            <p>Chơi cầu lông thường xuyên và điều độ sẽ rất tốt cho hệ tim mạch với sự vận động thường xuyên và đều đặn.. </p>
                        </div>
                    </li>
                    <li>
                        <div class="img-holder">
                            <img src="~/imgs/community.svg" height="71" alt="">
                        </div>
                        <div class="text-holder">
                            <h3>Gia tăng mối quan hệ lành mạnh</h3>
                            <p>Phát triển mối quan hệ tốt với những người cùng chơi giảm bớt đi những căng thẳng và mệt mỏi hàng ngày.</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-7">
                <div class="slide-holder">
                    <div class="img-slide scroll-trigger"><img src="~/imgs/img-01.png" height="624" width="684" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="main-zero-padd" >
    <iframe src="@ViewBag.HighLight" alt="" style="width:100%;height:80vh" frameborder="0"></iframe>
</section>



